In [38]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [11]:
# make request to wikepdia page
res = requests.get('https://en.wikipedia.org/wiki/List_of_shopping_malls_in_Singapore')
# parse the page
soup = BeautifulSoup(res.text, 'html.parser')

td_elements = soup.find_all('td')

In [24]:
td_elements[7]

<td class="navbox-list-with-group navbox-list navbox-even hlist" style="width:100%;padding:0"><div style="padding:0 0.25em">
<ul><li>iMall (2024)</li>
<li>Pasir Ris Mall (2025)</li></ul>
</div></td>

In [36]:
mall_names = []

for element in td_elements[2:7]:
    # Parse the HTML
    soup = BeautifulSoup(str(element), "html.parser")

    # Find all list items
    more_mall_names = [item.get_text() for item in soup.find_all('li')]

    mall_names += more_mall_names

print(mall_names)

['100 AM', '600 @ Toa Payoh', 'Anchorpoint', 'Beauty World Centre', 'Beauty World Plaza', 'Causeway Point', 'Century Square', 'Change Alley', 'City Square Mall', 'City Vibe', 'CityLink Mall', 'Eastpoint Mall', 'ERA APAC Centre', 'FairPrice Hub', 'Forum The Shopping Mall', 'Fu Lu Shou Complex', 'Holland Road Shopping Centre', 'Holland Piazza', 'Hougang 1', 'Hougang Mall', 'IMM', 'Jem', 'KINEX', 'Leisure Park Kallang', 'Lot One', 'Marina Bay Link Mall', 'Mustafa Centre', 'myVillage @ Serangoon', 'Nex', 'Orchard Central', 'Plaza Singapura', 'Queensway Shopping Centre', 'The Rail Mall', 'Rivervale Mall', 'Rochester Mall', 'Seletar Mall', 'Sembawang Shopping Centre', 'Sim Lim Square', 'Sim Lim Tower', 'The Centrepoint', 'The Majestic', 'The Star Vista', 'Tampines 1', 'Tampines Mall', 'Tekka Centre', 'Thomson Plaza', 'Upper Serangoon Shopping Centre', 'VivoCity', 'West Mall', 'White Sands', 'Wisma Geylang Serai', 'Yew Tee Point', '313@Somerset', 'AMK Hub', 'Alexandra Retail Centre', 'Bedok Mall', 'Bugis Junction', 'Bugis+', 'Bukit Panjang Plaza', 'Capitol Singapore', 'Changi City Point', 'Chinatown Point', 'Clarke Quay Central', 'Claymore Connect', 'Clementi Mall', 'Compass One', 'Cosford Container Park', 'Djitsun Mall Bedok', 'Djitsun Mall', 'Esplanade Mall', 'Far East Plaza', 'Funan', 'Golden Mile Complex', 'Great World', 'HarbourFront Centre', 'Hillion Mall', 'i12 Katong', 'ION Orchard', 'International Plaza', 'Jewel Changi Airport', 'Junction 8', 'Junction 10', 'Junction Nine', 'Jurong Point', 'Kallang Wave Mall', 'Katong Shopping Centre', 'Lucky Plaza', 'Mandarin Gallery', 'The Shoppes at Marina Bay Sands', 'Marina Square', 'Millenia Walk', 'Ngee Ann City', 'Northpoint City', 'Novena Square', 'One Raffles Place', 'Orchard Gateway', 'Orchard Towers', 'PLQ Mall', 'Palais Renaissance', 'Parkway Parade', 'Paya Lebar Square', 'Peninsula Plaza', "People's Park Centre", "People's Park Complex", 'Raffles City', 'Sengkang Grand Mall', 'Shaw House and Centre', 'SingPost Centre', 'South Beach', 'Square 2', 'Sun Plaza', 'Suntec City Mall', 'Tang Plaza', 'Tekka Place', 'The Paragon', 'The Woodleigh Mall', 'Tiong Bahru Plaza', 'United Square', 'Valley Point', 'Waterway Point', 'West Coast Plaza', 'Westgate', 'Wheelock Place', 'Wisma Atria', 'Wisteria Mall', '888 Plaza', 'Admiralty Place', 'Buangkok Square', 'Canberra Plaza', 'Dawson Place', 'Depot Heights Shopping Centre', 'Elias Mall', 'Fajar Shopping Centre', 'Gek Poh Shopping Centre', 'Greenridge Shopping Centre', 'Heartland Mall', 'HDB Hub', 'Hougang Rivercourt', 'Limbang Shopping Centre', 'Loyang Point', 'Northshore Plaza', 'Oasis Terraces', 'Our Tampines Hub', 'Pasir Ris West Plaza', 'Pioneer Mall', 'Punggol Plaza', 'Rivervale Plaza', 'Sunshine Place', 'Taman Jurong Shopping Centre', 'Tampines Mart', 'Vista Point', 'Woodlands Mart', 'Woodlands North Plaza', 'Yew Tee Square', '321 Clementi', 'Cathay Cineleisure Orchard', 'GV Yishun', 'The Cathay', 'Amber Mansions', 'Bedok Point', 'Capitol Centre', 'Ellenborough Market', 'Fernvale Point', "Fitzpatrick's", 'Funan DigitaLife Mall', 'JCube', 'Jurong Entertainment Centre', 'Liang Court', 'Park Mall', 'Scotts Shopping Centre', 'Serangoon Plaza', 'Shaw Tower', "Specialists' Shopping Centre", 'The Verge']
['100 AM', '600 @ Toa Payoh', 'Anchorpoint', 'Beauty World Centre', 'Beauty World Plaza', 'Causeway Point', 'Century Square', 'Change Alley', 'City Square Mall', 'City Vibe', 'CityLink Mall', 'Eastpoint Mall', 'ERA APAC Centre', 'FairPrice Hub', 'Forum The Shopping Mall', 'Fu Lu Shou Complex', 'Holland Road Shopping Centre', 'Holland Piazza', 'Hougang 1', 'Hougang Mall']

In [39]:
import requests

def get_geocoordinates_from_address(address: str) -> tuple:
    url = f"https://www.onemap.gov.sg/api/common/elastic/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y&pageNum=1"
    
    response = requests.get(url)    
    data = response.json()

    # Check if there are results
    if data['results']:
        first_result = data['results'][0]
        latitude = first_result['LATITUDE']
        longitude = first_result['LONGITUDE']
        return (latitude, longitude)
    else:
        return ("NA", "NA")

In [40]:
latitude_list = []
longitude_list = []

count = 1
for mall in mall_names:
    try:
        geocoordinates = get_geocoordinates_from_address(mall)
        print(count, geocoordinates)
    except ConnectionError:
        geocoordinates = ("TBC", "TBC")
   
    latitude, longitude = geocoordinates
    
    latitude_list.append(latitude)
    longitude_list.append(longitude)
    count += 1

1 ('1.27458821795426', '103.84347073661')
2 ('1.33403623894465', '103.850977706475')
3 ('1.28861469030586', '103.805009964592')
4 ('1.34241264188642', '103.776539385406')
5 ('1.34180018619223', '103.776259359854')
6 ('1.43590007901468', '103.785795816344')
7 ('1.35236829566862', '103.943812302253')
8 ('NA', 'NA')
9 ('1.31142103107683', '103.856624019991')
10 ('NA', 'NA')
11 ('1.2927777312893', '103.854173501417')
12 ('1.34270592355576', '103.953024618234')
13 ('1.33167653374942', '103.849383945185')
14 ('1.32561767765205', '103.678409741897')
15 ('1.30655430501572', '103.828652459744')
16 ('1.30151258571919', '103.854497235401')
17 ('1.31027747574118', '103.795371163103')
18 ('1.31067976097165', '103.795260908624')
19 ('1.35664284566921', '103.889828868222')
20 ('1.37248308734511', '103.893788141349')
21 ('1.33487526118006', '103.746894773008')
22 ('1.33305999269581', '103.743503708169')
23 ('1.31461849889242', '103.894738004768')
24 ('1.30192883841134', '103.876208170362')
25 ('1.38506992325619', '103.745238868238')
26 ('1.28003113385646', '103.854284863268')
27 ('1.31011213190394', '103.855290873926')
28 ('1.36511490572797', '103.865159501442')
29 ('1.35076935257845', '103.872296143862')
30 ('1.30083890839245', '103.839434733899')
31 ('1.30083497231103', '103.845072925117')
32 ('1.28759518939869', '103.803397287789')
33 ('1.35773050150178', '103.768137724847')
34 ('1.39221732695142', '103.904473070943')
35 ('1.30540765569962', '103.788446680148')
36 ('1.39150192642807', '103.87617162828')
37 ('1.44185307934021', '103.824970378482')
38 ('1.30302298414827', '103.853038663425')
39 ('1.30377222122298', '103.85466144692')
40 ('1.30197836876806', '103.839759023144')
41 ('1.28471077015851', '103.843197416212')
42 ('1.30681500712523', '103.788462732266')
43 ('1.37169334607241', '103.932924563561')
44 ('1.35252737278519', '103.944698751072')
45 ('1.30671098278725', '103.85013440636')
46 ('1.35436282723449', '103.83030941613')
47 ('1.35348082277147', '103.878828134896')
48 ('1.26429316783973', '103.82230469365')
49 ('1.35037541626109', '103.74912389291')
50 ('1.37228761596577', '103.949733905672')
51 ('1.31649415743907', '103.896788418353')
52 ('1.39708432396576', '103.746598000147')
53 ('1.30100656917241', '103.838246592796')
54 ('1.36922522142582', '103.848493192474')
55 ('1.27384263888449', '103.801375038176')
56 ('1.32475054237912', '103.92918919889')
57 ('1.29911287475873', '103.855411173758')
58 ('1.30095171530648', '103.855172625542')
59 ('1.38052239451717', '103.764051414862')
60 ('1.2935414355709', '103.851569286784')
61 ('1.33408363820793', '103.962946043413')
62 ('1.28299209695303', '103.843245630659')
63 ('NA', 'NA')
64 ('1.30766860940267', '103.828164396352')
65 ('1.31489619639366', '103.764423054189')
66 ('1.39205314156706', '103.89507054384')
67 ('NA', 'NA')
68 ('1.32611970329469', '103.929554495615')
69 ('1.32611970329469', '103.929554495615')
70 ('1.29036586550079', '103.8547977273')
71 ('1.30730468891062', '103.833818438639')
72 ('1.29134759697794', '103.849989790085')
73 ('1.3027712050447', '103.865172134495')
74 ('1.2934759620704', '103.831975865363')
75 ('1.26393160324447', '103.820112171695')
76 ('1.37843100827586', '103.762842789877')
77 ('1.30522306203042', '103.905043928938')
78 ('1.30419142102398', '103.831510144742')
79 ('1.27581120588262', '103.845955084997')
80 ('1.36023106736765', '103.989457201894')
81 ('1.35031600039774', '103.848496645294')
82 ('1.38018163022688', '103.76041930548')
83 ('1.43306021695327', '103.841649364872')
84 ('1.33945200436319', '103.706685012654')
85 ('1.30307515150401', '103.873149707591')
86 ('1.3040973115095', '103.901515916971')
87 ('1.3044637897474', '103.834005158524')
88 ('NA', 'NA')
89 ('1.28423496027027', '103.85898228297')
90 ('1.29159480494333', '103.857048715656')
91 ('1.29267926922552', '103.860302888543')
92 ('1.3022727300848', '103.834899517575')
93 ('1.42822560922688', '103.836419992398')
94 ('1.32057156550961', '103.843219261065')
95 ('1.28434954622306', '103.851072545834')
96 ('1.30160116957544', '103.838868886519')
97 ('1.30758079522771', '103.829476735628')
98 ('1.31756115921', '103.892836694432')
99 ('1.30665484543191', '103.829588045188')
100 ('1.30091736056425', '103.90533928065')
101 ('1.31881486980278', '103.892580778242')
102 ('1.29231742228801', '103.850803179769')
103 ('1.28577009981805', '103.843980122838')
104 ('1.28404487854559', '103.842590753293')
105 ('1.29408304748297', '103.853339531257')
106 ('1.38318916340582', '103.892377573338')
107 ('NA', 'NA')
108 ('1.31899666903663', '103.894894915962')
109 ('1.29438518375248', '103.8560297971')
110 ('1.27822949964567', '103.850812513482')
111 ('1.44819535371132', '103.819502127155')
112 ('1.29350132535558', '103.857307495824')
113 ('1.30505783063001', '103.83306065595')
114 ('1.30462871949255', '103.852226984633')
115 ('1.30375855987932', '103.835240308481')
116 ('1.33873066388191', '103.871670008192')
117 ('1.28644021678218', '103.827450721571')
118 ('1.31724362960663', '103.844003130499')
119 ('1.29303600932874', '103.827069067058')
120 ('1.4064128346795', '103.902188891645')
121 ('1.30358622534992', '103.76610375397')
122 ('1.33415767556867', '103.742766484424')
123 ('1.30467628730252', '103.830642027577')
124 ('1.30368769989282', '103.833203583562')
125 ('1.41798969122298', '103.841317292608')
126 ('1.43711856085535', '103.795316064775')
127 ('1.44042008562425', '103.801541769047')
128 ('1.38433426615655', '103.881623070164')
129 ('1.44349544527985', '103.830345369213')
130 ('1.29270252655148', '103.810971835645')
131 ('1.28084469467756', '103.810292618353')
132 ('1.37782876616465', '103.942364336974')
133 ('1.38357469942896', '103.770868459633')
134 ('1.34874357136408', '103.697732091001')
135 ('1.38540569283271', '103.766228468185')
136 ('1.35954450890401', '103.885169070198')
137 ('1.33201387005935', '103.84984949662')
138 ('1.36274851459883', '103.894906998774')
139 ('1.3920738867617', '103.743099573442')
140 ('1.36706634197242', '103.964635610477')
141 ('1.41676127156324', '103.902074379502')
142 ('1.40278015725693', '103.913215101343')
143 ('1.35218046898785', '103.940598001519')
144 ('1.37976754317116', '103.936207567321')
145 ('1.34169239214292', '103.697174842118')
146 ('1.39417447299355', '103.913120037036')
147 ('1.38544833801428', '103.901925969477')
148 ('1.37789727709418', '103.739015486021')
149 ('1.33484487471259', '103.720462024278')
150 ('1.35430033554002', '103.959985126114')
151 ('1.4308011390122', '103.794104795966')
152 ('1.44564787003157', '103.798162285805')
153 ('1.44275334327795', '103.790548015512')
154 ('1.39836942665376', '103.747188486453')
155 ('1.31200212030821', '103.764986676365')
156 ('1.30149264852924', '103.836406753067')
157 ('1.42991554202388', '103.836473396124')
158 ('1.29918373808483', '103.847789785765')
159 ('NA', 'NA')
160 ('1.33054849915481', '103.947778439395')
161 ('NA', 'NA')
162 ('NA', 'NA')
163 ('1.39631551842338', '103.881167324822')
164 ('NA', 'NA')
165 ('NA', 'NA')
166 ('NA', 'NA')
167 ('NA', 'NA')
168 ('1.29065860407434', '103.844547179775')
169 ('1.29966016502847', '103.853518084567')
170 ('NA', 'NA')
171 ('NA', 'NA')
172 ('1.29664455421758', '103.856855656294')
173 ('NA', 'NA')
174 ('NA', 'NA')

In [41]:
malls_coordinates = pd.DataFrame({'name': mall_names, 'latitude': latitude_list, 'longitude': longitude_list})
malls_coordinates

                             name          latitude         longitude
0                          100 AM  1.27458821795426   103.84347073661
1                 600 @ Toa Payoh  1.33403623894465  103.850977706475
2                     Anchorpoint  1.28861469030586  103.805009964592
3             Beauty World Centre  1.34241264188642  103.776539385406
4              Beauty World Plaza  1.34180018619223  103.776259359854
..                            ...               ...               ...
169        Scotts Shopping Centre                NA                NA
170               Serangoon Plaza                NA                NA
171                    Shaw Tower  1.29664455421758  103.856855656294
172  Specialists' Shopping Centre                NA                NA
173                     The Verge                NA                NA

[174 rows x 3 columns]

In [45]:
count = (malls_coordinates['latitude'] == 'NA').sum()
count

17

Unable to find the coordinates of 17 malls via the API. They either do not exist or have been closed down.

In [51]:
malls_coordinates_missing = malls_coordinates[malls_coordinates['latitude'] == 'NA']
malls_coordinates_missing

                             name latitude longitude
7                    Change Alley       NA        NA
9                       City Vibe       NA        NA
62            Clarke Quay Central       NA        NA
66         Cosford Container Park       NA        NA
87               Mandarin Gallery       NA        NA
106         Shaw House and Centre       NA        NA
158                Amber Mansions       NA        NA
160                Capitol Centre       NA        NA
161           Ellenborough Market       NA        NA
163                 Fitzpatrick's       NA        NA
164         Funan DigitaLife Mall       NA        NA
165                         JCube       NA        NA
166   Jurong Entertainment Centre       NA        NA
169        Scotts Shopping Centre       NA        NA
170               Serangoon Plaza       NA        NA
172  Specialists' Shopping Centre       NA        NA
173                     The Verge       NA        NA

Of the above, the followings malls have been closed:
- The Verge
- City Vibe
- JCube
- Jurong Entertainment Centre
- Ellenborough Market
- Capitol Centre
- Amber Mansions
- Serangoon Plaza
- Specialist Shopping Centre

The coordinates of the following malls are manually added:
- Clarke Quay Central
- Scotts Shopping Centre -> Scotts Square
- Shaw House and Centre -> Shaw House
- Mandarin Gallery
- Cosford Container Park
- Change Alley

In [ ]:
# read csv of manual list

In [ ]:
# add opening and closing dates