In [41]:
import pandas as pd
import numpy as np
import datetime as dt

In [9]:
data = pd.read_csv('../data/3M_SORA_rates_2005_2024.csv', skiprows=6)
data = data.replace({np.nan: None})
data.head()

,SORA Value Date,Unnamed: 1,Unnamed: 2,SORA Publication Date,Compound SORA - 3 month
0,2005,Jul,1.0,04 Jul 2005,-
1,None,None,4.0,05 Jul 2005,-
2,None,None,5.0,06 Jul 2005,-
3,None,None,6.0,07 Jul 2005,-
4,None,None,7.0,08 Jul 2005,-

In [45]:
output_df = pd.DataFrame(columns=['SORA Value Month', 'Compound SORA - 3 month'])
value_year = 2005
value_month = ''
for (index, row) in data.iterrows():
    if row.isnull().iloc[2] or row.iloc[4] == '-':
        continue
    if row.isnull().iloc[0] == False:
        value_year = row.iloc[0]
    if row.isnull().iloc[1] == False:
        value_month = row.iloc[1]
    sora_value_month = str(value_year) + ' ' + value_month
    sora_value_month = dt.datetime.strptime(sora_value_month, '%Y %b').strftime('%Y-%m')
    compound_sora = float(row.iloc[4])
    output_df.loc[len(output_df.index)] = [sora_value_month, compound_sora]
output_df = output_df.groupby(['SORA Value Month']).mean()
output_df.head()

                  Compound SORA - 3 month
SORA Value Month
2005-10                          1.960476
2005-11                          2.195200
2005-12                          2.470248
2006-01                          2.795811
2006-02                          3.040975

In [46]:
output_df.to_csv('../data/modified/3M_SORA_rates_2005_2024_cleaned.csv')